# http://www.gnu.org/software/automake

/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex

# http://www.gnu.org/software/m4/

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
autom4te.cache



# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app.gitignore_bkp


INSTALL
Makefile
Makefile.in
_configs.sed
arm-oe-linux-gnueabi-libtool
config.h
config.h.in~
config.log
config.status
dbus-cxx-1.0.pc
dbus-cxx-glibmm-1.0.pc
dbus-cxx-glibmm/.deps/
dbus-cxx-glibmm/Makefile
dbus-cxx-glibmm/Makefile.in
dbus-cxx/.deps/
dbus-cxx/.libs/
dbus-cxx/Makefile
dbus-cxx/Makefile.in
dbus-cxx/connection.h
dbus-cxx/dbus-cxx-config.h
dbus-cxx/dbus_signal.h
dbus-cxx/interface.h
dbus-cxx/interfaceproxy.h
dbus-cxx/method.h
dbus-cxx/method_impl.h
dbus-cxx/methodproxy.h
dbus-cxx/methodproxybase.h
dbus-cxx/object.h
dbus-cxx/objectproxy.h
dbus-cxx/signal_proxy.h
doc/Makefile
doc/Makefile.in
examples/Makefile
examples/Makefile.in
examples/basics/Makefile
examples/basics/Makefile.in
examples/basics/filedescriptors/.deps/
examples/basics/filedescriptors/Makefile
examples/basics/methods/.deps/
examples/basics/methods/Makefile
examples/basics/signals/.deps/
examples/basics/signals/Makefile
examples/basics/types/.deps/
examples/basics/types/Makefile
examples/glibmm/.deps/
examples/glibmm/Makefile
examples/glibmm/Makefile.in
examples/quick-start/.deps/
examples/quick-start/Makefile
examples/xml2cpp/Makefile
examples/xml2cpp/Makefile.in
examples/xml2cpp/calculator-interface/.deps/
examples/xml2cpp/calculator-interface/Makefile
examples/xml2cpp/calculator/.deps/
examples/xml2cpp/calculator/Makefile
examples/xml2cpp/computer-has-a/.deps/
examples/xml2cpp/computer-has-a/Makefile
examples/xml2cpp/computer-is-a/.deps/
examples/xml2cpp/computer-is-a/Makefile
tools/.deps/
tools/Makefile
tools/Makefile.in
unit-tests/.deps/
unit-tests/Makefile
unit-tests/Makefile.in
